[submodule "themes/dracula"]
	path = themes/dracula
	url = https://github.com/danielkvist/hugo-piercer-theme.git
[submodule "themes/solar"]
	path = themes/solar
	url = https://github.com/bake/solar-theme-hugo.git
